@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
:focus {
  outline: 0;
}

::-moz-placeholder {
  opacity: 1;
}

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #f4f4f4;
}

header {
  display: flex;
  background: white;
}
header img {
  margin: auto;
  padding: 2rem;
  padding-bottom: 20px;
}

@keyframes timeLoader {
  0% {
    visibility: visible;
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
    opacity: 0.2;
  }
}
.loaderContainer {
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  position: fixed;
  visibility: hidden;
  animation: timeLoader 2s ease-in-out both;
  z-index: 1;
}

.lds-hourglass {
  margin: auto;
  display: inline-block;
  position: relative;
  width: auto;
  height: auto;
  background-color: #f4f4f4;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #9356DC;
  border-color: #9356DC transparent #FF79DA transparent;
  animation: lds-hourglass 2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
.local {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ebebeb;
  box-shadow: inset 0 5px 5px -5px #a4a4a4;
}
.local i {
  margin-right: 15px;
}

.about {
  background: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
.about h3 {
  text-align: center;
  font-size: 1.8rem;
  width: 90%;
  margin: 2rem auto auto auto;
}
.about p {
  text-align: center;
  font-weight: 100;
  font-size: 1.5rem;
}
.about button {
  border-radius: 30px;
  margin: auto;
  padding: 13px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  font-size: 1rem;
}
.about button:hover {
  cursor: pointer;
  background: linear-gradient(#ffb0e9, #a587cb);
}

section {
  padding-bottom: 40px;
  background: white;
}
section h3 {
  font-size: 1.8rem;
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 50px;
}

.fonction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: white;
}

.fonctionBox {
  display: flex;
  align-items: center;
  text-decoration: none;
  background: #f4f4f4;
  border-radius: 25px;
  width: 80%;
  height: 5rem;
  margin: 15px;
  box-shadow: 4px 4px 8px #d3d3d3;
}
.fonctionBox :nth-child(1) {
  width: 21px;
  height: 21px;
  border-radius: 25px;
  background: #9356DC;
  text-align: center;
  color: white;
  position: relative;
  right: 10px;
}
.fonctionBox :nth-child(2) {
  color: #b6b6b6;
  margin: 15px;
}
.fonctionBox :nth-child(3) {
  color: black;
}
.fonctionBox:hover {
  background: #eee3fa;
  box-shadow: 4px 4px 8px #b8b7b7;
}
.fonctionBox:hover :nth-child(2) {
  color: #9356DC;
}

.restaurantsContainer {
  background: #f4f4f4;
}

.restaurants {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.restaurantsBox {
  width: 330px;
  height: 250px;
  margin: 20px;
  text-decoration: none;
  background: white;
  border-radius: 20px;
  color: black;
  box-shadow: 4px 4px 8px #d3d3d3;
}
.restaurantsBox:hover {
  opacity: 0.8;
  box-shadow: 4px 4px 8px #b8b7b7;
}
.restaurantsBox img {
  width: 330px;
  height: 170px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}
.restaurantsBox h4 {
  margin: 8px;
  font-size: 1.2rem;
}
.restaurantsBox p {
  font-weight: 100;
  margin: auto auto auto 8px;
}
.restaurantsBox .far {
  font-size: 25px;
  position: relative;
  left: 280px;
  bottom: 40px;
  -webkit-text-stroke: 1px black;
  font-weight: 800;
  color: white;
  transition: all 1000ms;
}
.restaurantsBox .far:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurantsBox aside {
  position: relative;
  left: 245px;
  bottom: 245px;
  background: #99E2D0;
  border-radius: 3px;
  width: fit-content;
  padding: 5px;
  color: #215b4d;
}

footer {
  background: #3c3b3b;
  color: white;
  padding: 30px;
}
footer .logo {
  filter: invert(100%);
  width: 100px;
  margin-bottom: 10px;
}
footer nav {
  height: 40px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer nav {
  display: flex;
  align-items: center;
}
footer nav i {
  padding-right: 15px;
}

header a {
  position: relative;
  left: 2rem;
  top: 2.5rem;
  color: black;
}

.image {
  padding-bottom: 0px;
}
.image img {
  width: 100%;
}

.menuContainer {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  position: relative;
  bottom: 2rem;
  padding-top: 2rem;
  background-color: #f4f4f4;
}
.menuContainer button {
  width: 180px;
  border-radius: 20px;
  margin: auto;
  padding: 13px;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  font-size: 1rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.menuContainer button:hover {
  cursor: pointer;
  background: linear-gradient(#ffb0e9, #a587cb);
}

.headMenu {
  font-family: "Shrikhand", cursive;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headMenu h3 {
  padding-top: 0px;
  margin-bottom: 0px;
}
.headMenu i {
  font-size: 25px;
  -webkit-text-stroke: 1px black;
  color: #f4f4f4;
  padding-right: 1.5rem;
}
.headMenu i:hover {
  cursor: pointer;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animHeart 0.5s ease-in-out;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.menu h5 {
  margin-top: 2rem;
  margin-bottom: 0.2rem;
  margin-left: 1.5rem;
  font-size: 1rem;
  font-weight: 100;
}
.menu .underLine {
  width: 40px;
  height: 4px;
  margin-left: 1.5rem;
  background-color: #99E2D0;
}

@keyframes animHeart {
  from {
    background: #f4f4f4;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  to {
    color: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes appearMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes moveMenu {
  from {
    transform: scaleY(0.7);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes greenboxAnim {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes checkboxAnim {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes retractAnim {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0.7);
  }
}
.overBox {
  display: none;
}

.animMenu {
  animation: moveMenu 1s;
  transform-origin: bottom;
}
.animMenu__dish--1 {
  animation: appearMenu 0.6s 0.2s ease-in-out both;
}
.animMenu__dish--2 {
  animation: appearMenu 0.6s 0.4s ease-in-out both;
}
.animMenu__dish--3 {
  animation: appearMenu 0.6s 0.6s ease-in-out both;
}
.animMenu__dish--4 {
  animation: appearMenu 0.6s 0.8s ease-in-out both;
}
.animMenu__dish--5 {
  animation: appearMenu 0.6s 1s ease-in-out both;
}
.animMenu__dish--6 {
  animation: appearMenu 0.6s 1.2s ease-in-out both;
}
.animMenu__dish--7 {
  animation: appearMenu 0.6s 1.4s ease-in-out both;
}
.animMenu__dish--8 {
  animation: appearMenu 0.6s 1.6s ease-in-out both;
}
.animMenu__dish--9 {
  animation: appearMenu 0.6s 1.8s ease-in-out both;
}
.animMenu__dish--10 {
  animation: appearMenu 0.6s 2s ease-in-out both;
}

.dishPresentation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 80%;
  height: 60px;
  background: white;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  margin: 20px auto 20px auto;
  box-shadow: 4px 4px 8px #d3d3d3;
}
.dishPresentation:hover {
  cursor: pointer;
}
.dishPresentation:hover .dishPresentation {
  animation: retractAnim 0.5s ease both;
  transform-origin: left;
}
.dishPresentation:hover .overBox {
  display: block;
  width: 10%;
  min-width: 40px;
  text-align: center;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
  height: 60px;
  width: 7em;
  transform-origin: right;
  animation: greenboxAnim 0.5s ease-in-out;
}
.dishPresentation:hover .overBox i {
  display: block;
  margin-top: 21px;
  color: white;
  font-size: 25px;
  animation: checkboxAnim 0.5s ease;
}
.dishPresentation .textDish {
  width: 90%;
}
.dishPresentation .textDish h6 {
  margin: 4px;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  padding-top: 5px;
  padding-left: 5px;
}
.dishPresentation .textDish p {
  font-weight: 100;
  margin: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  padding-left: 5px;
}
.dishPresentation aside {
  width: 10%;
  padding-top: 30px;
  padding-right: 10px;
}

@media screen and (min-width: 1105px) {
  body {
    max-width: 1105px;
    margin: auto;
  }
}
@media screen and (min-width: 730px) {
  .image {
    height: 40vw;
    object-fit: cover;
    position: relative;
    bottom: 9rem;
    z-index: -1;
  }
}

/*# sourceMappingURL=style.css.map */
