@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-terciary:#99E2D0;
$color-4:#f4f4f4;
$num-dish: 10;
$anim-delay: 1.5s/$num-dish;

@mixin dishShape{
    width: 80%;
    height: 60px;
    background: white;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    margin: 1em auto 1em auto;
    box-shadow: 4px 4px 8px #d3d3d3;
    
}

:focus {
    outline: 0;
}


body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: $color-4;

}

@import "./partials/index";
@import "./partials/menu";

@media screen and (min-width:1105px) {
    body {
        max-width: 1105px;
        margin: auto;
    }

}


