@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');


$color-primary: #9356DC;
$color-secondary:#FF79DA;
$color-terciary:#99E2D0;
$color-4:#f4f4f4;

:focus {
    outline: 0;
}

::-moz-placeholder {
    opacity: 1;
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

@import "./partials/index";

