header a{
    position: relative;
    left: 2rem;
    top: 2.5rem;
    color: black;
}

.image {
    padding-bottom: 0px;
    & img{
    width: 100%;
    }
}

.menuContainer{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: relative;
    bottom: 2rem;
    padding-top: 2rem;
    background-color: $color-4;
   

    & button {
        width: 180px;
        border-radius: 20px;
        margin: auto;
        padding: 13px;
        color: white;
        background: linear-gradient($color-secondary, $color-primary);
        border: none;
        font-size: 1rem;
        margin: 2rem auto 2rem auto;
        


        &:hover{
            cursor: pointer;
            background: linear-gradient(#ffb0e9, #a587cb);
        }
        
    }
}

.headMenu{
    font-family: 'Shrikhand', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h3{
        padding-top: 0px;
        margin-bottom: 0px;
    }

    & .far {
        font-size: 25px;
        -webkit-text-stroke: 1px black;
        font-weight: 800;
        color: $color-4;
        transition: all 1000ms;
        padding-right: 1.5rem;
        
    
        &:hover{
            background: linear-gradient($color-primary, $color-secondary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
        } 
    }
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & h5{
        margin-top: 2rem;
        margin-bottom: 0.2rem;
        margin-left: 1.5rem;
        font-size: 1rem;
        font-weight: 100;
    }

    & .underLine{
        width: 40px;
        height: 4px;
        margin-left: 1.5rem;
        background-color:$color-terciary;
    }
}

@keyframes appearMenu {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes moveMenu {
    0% {
        transform: scaleY(0.70);   
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes retractAnim {
    from {
      width: 100%;
    }
    to {
      width: 70%;
    }
  }

  @keyframes greenboxAnim {
    from {
      width: 0px;
      
    }
    to {
      width: 200px;
    }
  }
  
.animMenu{
    animation: moveMenu 1s;
    transform-origin: bottom;

    &__dish{
        @for $i from 1 through $num-dish {
            &--#{$i} {
                @include dishShape;
                animation: appearMenu 1s $anim-delay * $i ease-in-out both;
                
                &:hover{
                    cursor: pointer;

                    & .overBox{
                        visibility: visible;
                        text-align: center;
                        border-radius: 0 15px 15px 0;
                        background-color: $color-terciary;
                        width: 6rem;
                        height: 60px;
                        transform-origin: right;
                        animation: greenboxAnim 0.5s both ease;
                        
                        & i{
                        margin-top: 21px;
                        color: white;
                        font-size: 25px;
                        transform: rotate(360deg);
                        transition: transform 0.5s ease;

                        }
                    }

                    & .dishPresentation {
                        animation: retractAnim 0.5s forwards ease;
                    }
                    
                }
            }
        }
    }
}

.positionBoxes {
    display: flex;
    justify-content: space-between;
}

.dishPresentation {
    display: flex;
    justify-content: space-between;
    width: 100%;


    & .textDish {
        width: 100%;
        
        & h6{
            margin: 4px;
            font-size: 18px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            
        }
        
        & p{
            font-weight: 100;
            margin: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }

    }

    & aside {
        margin: 25px 20px 0 20px;
    }
}






