header a{
    position: relative;
    left: 2rem;
    top: 2.5rem;
    color: black;
}

.image {
    padding-bottom: 0px;
    & img{
    width: 100%;
    }
}

.menuContainer{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    position: relative;
    bottom: 2rem;
    padding-top: 2rem;
    background-color: $color-4;
   

    & button {
        width: 180px;
        border-radius: 20px;
        margin: auto;
        padding: 13px;
        color: white;
        background: linear-gradient($color-secondary, $color-primary);
        border: none;
        font-size: 1rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        


        &:hover{
            cursor: pointer;
            background: linear-gradient(#ffb0e9, #a587cb);
        }
        
    }
}

.headMenu{
    font-family: 'Shrikhand', cursive;
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h3{
        padding-top: 0px;
        margin-bottom: 0px;
    }

    & i {
        font-size: 25px;
        -webkit-text-stroke: 1px black;
        color: $color-4;
        padding-right: 1.5rem;
        
    
        &:hover{
            cursor: pointer;
            background: linear-gradient($color-primary, $color-secondary);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: animHeart 0.5s ease-in-out;
            
        } 
    }
}

.menu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    & h5{
        margin-top: 2rem;
        margin-bottom: 0.2rem;
        margin-left: 1.5rem;
        font-size: 1rem;
        font-weight: 100;
    }

    & .underLine{
        width: 40px;
        height: 4px;
        margin-left: 1.5rem;
        background-color:$color-terciary;
    }
}

@keyframes animHeart {
    from {
       background: $color-4;
       background-clip: text;
       -webkit-background-clip: text;
       -webkit-text-fill-color: transparent;
               
    }

    to {
        color: linear-gradient($color-primary, $color-secondary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
           
    }
}

@keyframes appearMenu {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveMenu {
    from {
        transform: scaleY(0.70);   
    }
    to {
        transform: scaleY(1);
    }
}

  @keyframes greenboxAnim {
    from {
        transform: scaleX(0);
      
    }
    to {
        transform: scaleX(1);
    }
  }

  @keyframes checkboxAnim {
    from {
      transform: rotate(0deg);
      opacity: 0;
      
    }
    to {
      transform: rotate(360deg);
      opacity: 1;
    }
  }

  @keyframes priceAnim {
    from {
      transform: translateX(0%);
      
      
    }
    to {
      transform: translateX(-15%);
      
    }
  }

  .overBox{
      display: none;
  }
  
.animMenu{
    animation: moveMenu 1s;
    transform-origin: bottom;
}
    
.dish{
    @for $i from 1 through $num-dish {
        &--#{$i} {
            animation: appearMenu 0.6s $anim-delay * $i ease-in-out both; 
           
                
            }
        
    }
}

.price{
    position: relative;
    left: 80%;
    bottom: 25px;
}

.dishPresentation:hover .price {
    animation: priceAnim 0.5s ease-in-out both;
}

.dishPresentation {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @include dishShape;    

    &:hover{
        cursor: pointer;
        
        & .overBox{
            display: block;
            width: 20%;
            min-width: 40px;
            text-align: center;
            border-radius: 0 15px 15px 0;
            background-color: $color-terciary;
            height: 60px;
            transform-origin: right;
            animation: greenboxAnim 0.5s ease-in-out;
            

            
            & i{
            display: block;
            margin-top: 21px;
            color: white;
            font-size: 25px;
            animation: checkboxAnim 0.5s ease-in-out;
            
            }
           
        }
        
    }

    & .textDish {
        width: 90%;
        
        & h6{
            margin: 4px;
            font-size: 18px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 90%;
            padding-top: 5px;
            padding-left: 5px;
            
        }
        
        & p{
            font-weight: 100;
            margin: 4px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 90%;
            padding-left: 5px;
        }

    }
   
}






